

.container {
    max-width: var(--width-medium);
    margin: 0 auto;
    padding: 1rem 2rem;
  }
  
  h1::selection,
  h2::selection {
    color: #111;
    background: var(--primary-color);
  }
  
  /* Buttons */
  .btn {
    display: inline-block;
    padding: 0.75rem 1.9rem;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 0.82rem;
    transition: 0.3s;
  }
  
  .btn-primary {
    background: var(--primary-color);
    color: #000000;
  } 
  
  .btn-secondary {
    background-color: var(--bg-secondary);
    color: var(--bg-primary);
    margin: 0 1rem;
    font-size: .8rem;
    font-weight: var(--weight-semibold);
  }
  .btn-secondary:hover {
    transition: all .5s;
    transform: scale(1.1);
    cursor: pointer;
  }
  
  /* add hover to resume button */
  .btn-primary:hover {
    background: #FFB74D;
  }
  
  /* Dark mode toggle */
  #switch {
    display: none;
  }
  
  .toggle-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  
  .toggle-icons > img {
    transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    width: 30px;
  }
  
  .moon {
    transform: rotate(10deg);
  }
  
  #switch:checked + .toggle-icons .moon {
    transform: rotate(250deg);
  }
  
  #switch:checked + .toggle-icons .sun {
    transform: rotate(100deg);
  }
  
  /* Header Container */
  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5.3rem;
    padding: 1rem;
  }
  .header-container h4{
    margin-top: 1rem;
    font-size: 1rem;
  }
  
  .header-container h1{
    /* margin-top: 1rem; */
    font-size: 2.3rem;
  }
  .header-container > div {
    margin-top: 1rem;
  }
  
  .content-text {
    text-align: center;
    margin: 1.5rem 0;
  }
  
  .content-text h2 {
    font-size: 1.5rem;
    line-height: 1.2;
    transition: 0.2s ease-in-out;
  }
  
  .content-text p {
    padding: 0.3rem;
    margin: 0 auto;
    max-width: 1000px;
  }
  
  /* Skills Section */
  #skills {
    text-align: center;
    padding: 50px 20px;
    background: linear-gradient(to right, #f9f9f9, #9f9797);
    
  }
  
  .skills-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 Columns */
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
  }
  
  /* Skills Card */
  .skills-card {
    background: linear-gradient(to right, #f9f9f9, #eaeaea);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .skills-card:hover {
    background: #fff;
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }
  
  /* Heading inside Skill Cards */
  .skills-card h3 {
    color: #000;
    margin-bottom: 10px;
  }
  
  /* List Style */
  .skills-card ul {
    list-style: none;
    padding: 0;
  }
  
  .skills-card li {
    font-size: 18px;
    margin: 10px 0;
    display: flex;
    align-items: center;
  }
  
  .skills-card i {
    font-size: 22px;
    margin-right: 10px;
    color: #000;
  }
  
  /* Responsive Design */
  @media (max-width: 900px) {
    .skills-container {
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media (max-width: 600px) {
    .skills-container {
      grid-template-columns: repeat(1, 1fr); 
    }
  }
  
  /* Project cards */
  .card {
    padding: 1rem;
    background: #e6e6e6;
    color: #ffffff;
    border-radius: 5px;
    transition: 0.4s ease-in-out;
    cursor: pointer;
  }
  
  .card a {
    transition: 0.25s ease-in-out;
    font-size: 1.1rem;
    margin-right: 0.3rem;
  }
  
  .card a:hover {
    color: #fff;
    background: #fff;

  }
  
  .card:hover {
    background: #ffff;
    box-shadow: inset 0 100px 1000px 10px rgba(0, 0, 0, 0.8);
  }
  
  .card:hover .project-info {
    opacity: 1;
  }
  
  /* Project Images */
  
  /* project 1 */
  .card:nth-child(1) {
    background: url(../assets/project/Project-photo-1.webp) center center/cover;
  }
  
  /* Project 2 */
  .card:nth-child(2) {
    background: url(../assets/project/cloud-deployment-icon-vector.jpg) center center/cover;
  }
  
  /* Project 3 */
  .card:nth-child(3) {
    background: url(../assets/project/Project-photo-3.webp) center center/cover;
  }
  
  /* Project 4*/
  .card:nth-child(4) {
    background: url(../assets/project/project-four.png) center center/cover;
  }
  
  /* Project 5 */
  .card:nth-child(5) {
    background: url(../assets/project/project-five.png) center center/cover;
  }
  
  /* Project 6 */
  .card:nth-child(6) {
    background: url(../assets/project/project-six.png) center center/cover;
  } 
  
  /* Media Queries */
  @media (max-width: 768px) {
    .header-container {
      margin-top: 4.6rem;
      text-align: center;
    }
  
    .content-text h2 {
      font-size: 1.5rem;
    }
  }
  
  